*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
/*************************
** Lucid Code Start
**************************/
.header{
    width: 100%;
    background: url("../images/Banner.png") center top no-repeat;
    background-size: cover;
    height: 100vh;
}
.main-menu{
    width: 100%;
}
.main-menu .bg-light{
    background: transparent !important;
}
.main-menu .navbar-light .navbar-nav .nav-link.active{
    background: url("../images/active.png") center bottom no-repeat;
    background-size: auto;
}
.main-menu .navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 14px;
    text-transform: capitalize;
    margin: 0px 0px 0px 20px;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover, .main-menu .navbar-light .navbar-nav .nav-link:focus{
    background: url("../images/active.png") center bottom no-repeat;
    background-size: auto;
}
.banner{
    width: 100%;
    padding: 120px 0px;
}
.banner h5{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008ed6;
}
.banner h1{
    font-size: 52px;
    line-height: 62px;
    font-weight: 500;
    color: white;
}
.banner p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    color: #7f7f7f;
}
.button-group{
    width: 100%;
    padding: 35px 0px 0px;
}
.button-group .btn-primary{
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 20px 0px 0px;
    text-transform: uppercase;
    color: white;
    background: #008ed6;
    border: 1px solid #008ed6;
    transition: 1s ease-in;
}  
.button-group .btn-primary:hover, .button-group .btn-primary:focus{
    color: #008ed6;
    background: transparent;
    border: 1px solid #008ed6;
}
.button-group .btn-light{
    padding: 15px 25px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    background: transparent;
    border: 1px solid #7f7f7f;
    transition: 1s ease-in;
}
.button-group .btn-light:hover, .button-group .btn-light:focus{
    color: white;
    background: #008ed6;
    border: 1px solid #008ed6;
}

/*****************************
** Global CSS for Title
******************************/
.title{
    width: 100%;
    padding: 0px 0px 60px;
}
.title h5{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008ed6;
}
.title h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 600;
    color: black;
    margin: 10px 0px 20px;
}
/*****************************
** Global CSS for Title End
******************************/
.features{
    width: 100%;
    padding: 80px 0px;
}
.features .title{
    text-align: center;
}
.inner-features{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.inner-features .icons{
    width: 100px;
    height: 100px;
    line-height: 100px;
    margin: 0px auto;
    border-radius: 100%;
    border: 1px solid #e5e5e5;
}
.inner-features h4{
    font-size: 23px;
    line-height: 33px;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
}
.inner-features p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #b4b4b4;
}
.about-long{
    width: 100%;
    padding: 80px 0px;
}
.about-long .img-fluid{
    width: 100%;
}
.about-long .title{
    width: 100%;
    padding: 0px 0px 15px;
    margin: 52px 0px 0px;
}
.about-long .title h5{
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008ed6;
}
.about-long p{
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    color: #7f7f7f;   
}
.about-long ul{
    display: block;
    padding: 15px 0px 0px;
}
.about-long ul li{
    list-style: none;
    display: block;
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    margin: 0px 0px 10px;
}
.about-long ul li img{
    width: 13px;
    height: 15px;
    margin: 0px 8px 0px 0px;
}
.about-short{
    width: 100%;
    padding: 80px 0px;
    background: #f2f2f2;
}
.about-short .img-fluid{
    width: 100%;
}
.about-short .title{
    width: 100%;
    padding: 0px 0px 15px;
    margin: 75px 0px 0px;
}
.about-short .title h5{
    font-size: 15px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #008ed6;
}
.about-short p{
    font-size: 17px;
    font-weight: 500;
    line-height: 27px;
    color: #7f7f7f;   
}
.testimonial{
    width: 100%;
    padding: 80px 0px;
    background: url("../images/Testimonials.png") center top no-repeat;
    background-size: cover;
}
.testimonial .title{
    text-align: center;
}
.testimonial .title h5{
    font-size: 15px;
    line-height: 25px;
}
.testimonial .title h2{
    color: white;
    margin-bottom: 15px;
}
.testimonial .owl-carousel h4{
    font-size: 18px;
    width: 91%;
    letter-spacing: 1px;
    line-height: 28px;
    font-weight: 400;
    font-style: italic;
    color: white;
    margin: 0px 0px 40px;
}
.testimonial .owl-carousel .item img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.testimonial .owl-carousel .item p{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    margin: 7px 0px 5px;
}
.testimonial .owl-carousel .item h6{
    font-size: 14px;
    color: white;
    word-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 0px 0px;
}
.testimonial .owl-theme .owl-dots{
    margin: 70px 0px 0px !important;
}
.eye-catcher{
    width: 100%;
    padding: 40px 0px;
    background: #15141a;
}
.eye-catcher h2{
    font-size: 32px;
    line-height: 42px;
    font-weight: 300;
    color: white;
    margin: 0px;
}
.eye-catcher h2 span{
    font-weight: 700;
}
.eye-catcher .button-group{
    padding: 0px;
    text-align: right;
}
.eye-catcher .button-group .btn-primary{
    margin: 0px;
}
.eye-catcher .button-group .btn-light{
    margin: 0px 20px 0px 0px ;
}
.price-plan{
    width: 100%;
    padding: 80px 0px;
}
.price-plan .title{
    text-align: center;
}
.price{
    width: 100%;
    border: 1px solid #e0e0e0;
    text-align: center;
    transition: 1s;
}
.price .price-head{
    width: 100%;
    padding: 15px 0px 10px;
    border: 1px solid #e0e0e0;
}
.price .price-head h4{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0px;
}
.price .inner-price{
    width: 100%;
    padding: 35px 0px;
    border: 1px solid #e0e0e0;
}
.price .inner-price sup{
    font-size: 28px;
    font-weight: 600;
}
.price .inner-price h1{
    font-size: 52px;
    line-height: 62px;
    font-weight: 700;
    margin: 0px;
}
.price .inner-price p{
    font-size: 16px;
    color: #999;
    margin: -5px 0px 0px;
}
.price .price-content{
    width: 100%;
    padding: 40px 40px 30px;
}
.price .price-content p{
    font-size: 16px;
    line-height: 26px;
    color: #999;
    margin: 0px 0px 35px;
}
.price .price-content a{
    font-size: 16px;
    color: #008ed6;
    line-height: 26px;
} 
.price .price-content .btn-primary{
    padding: 12px 35px;
    background: transparent;
    border: 1px solid #e0e0e0;
    color: #008ed6;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 1s;
}
.price:hover .price-head h4{
    color: #008ed6;
}
.price:hover .inner-price{
    background: #008ed6;
}
.price:hover .inner-price h1, .price:hover .inner-price p{
    color: white;
}
.price:hover .price-content .btn-primary{
    background: #008ed6;
    border: 1px solid #008ed6;
    color: white;
}
.contact{
    width: 100%;
    padding: 80px 0px 0px;
    background: #ededee;
    position: relative;
}
.contact .title{
    text-align: center;
}
.info-box{
    width: 100%;
    text-align: center;
}
.info-box img{
    margin: 0px 0px 30px;
}
.info-box p{
    font-size: 16px;
    line-height: 26px;
    color: #999;
}
.main-form{
    width: 100%;
    padding: 60px 75px 30px ;
    background: #15141a;
    margin: 50px 0px -65px;
    position: relative;
    z-index: 1;
}
.main-form .form-control{
    padding: 15px;
    background: transparent;
    border: 1px solid #999;
    color: #999;
}
.main-form .form-control:hover, .main-form .form-control:focus{
    border: 1px solid #999;
    box-shadow: 0 0 0 1px #999;
}
.text-right{
    text-align: right;
}
.main-form .btn-primary{
    padding: 15px 35px;
    margin: 10px 0px 0px;
    background: #008ed6;
    border: 1px solid #008ed6;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-form .btn-primary:hover, .main-form .btn-primary:focus{
    background: transparent;
    border: 1px solid #008ed6;
    color: #008ed6;
    transition: 1s;
}
.map{
    width: 100%;
    position: relative;
    z-index: -1;
}
.footer{
    width: 100%;
    padding: 50px 0px 30px;
    background: #15141a;
    text-align: center;
}
.footer .socials img{
    margin: 0px 20px 10px 10px;
}
.footer p{
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #444348;
    margin-top: 15px;
}

